/* Enter your custom styles here */
.geoMap{
	height: 100% !important;
	width: 100% !important;
}
.sapMListTbl .uebersTable{
	font-size: 1rem;
	font-weight: bold;
}
.titleTable{
	font-weight: bold;
}

.dlgTitle{
	font-size: 1rem;
	font-weight: bold;
}

.dlgInput .sapMInputBaseInner {
	height: 2rem;
}

.scn .sapMBtnIcon{
	font-size: 2.375rem;
}

.about-swe{

}